.container {
    margin: auto;
    max-width: 600px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #3498db;
    border-color: #2980b9;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    margin-left: 20px;
}

.delete-btn:hover {
    background: #c0392b;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.inputItem {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.inputItem:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

.addBtn {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.addBtn:hover {
    background-color: #0056b3;
}

.addBtn:active {
    background-color: #004494;
}